body{
    background-color: rgb(240, 172, 206);
}
#par1{
    color: aquamarine;
    background-color: black;
    font-size: 20px;
    padding-bottom: 20px;
    text-align: center;
}
#par2{
    color: lightpink;
    background-color: aliceblue;
    font-size: 23px;
    padding: 20px;
    text-align: end;
    text-transform: uppercase;
    text-decoration: underline;
}
#par3{
    color:purple;
    background-color: azure;
    padding: 20px;
    text-align: center;
    text-decoration: dotted;
}
.myparagraph{
    color: darkmagenta;
    font-size: 24px;
    background-color: antiquewhite;
    padding: 12px;
}
.mydivision{
    color: blueviolet;
    font-size: 26px;
    text-align: center;
}